<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="relative flex w-full flex-col gap-4 bg-gray-200 p-8">
      <div class="container rounded bg-white p-8 shadow-2xl">
        <a class="text-xl font-bold" href="">KitabKinBech.<span class="text-yellow-400">com</span></a>
        <div class="">
          <h1 class="mt-2 border-b-2 border-black p-4 text-center text-xl font-semibold">{{title}}</h1>
          <p class="p-4 text-lg">Reset password for <span class="font-semibold">{{name}}</span></p>
          <form action="{% url 'password-rest-confirmation' %}" class="p-4" method="post">
            {% csrf_token %}
            <input type="hidden" name="reset_token" value="{{token}}">
            <div
              class="form-input bg-gray-100 p-4 w-[100%] rounded-xl mb-4 relative"
            >
              <label for="reset_email" class="absolute right-0 p-3 text-xl"
                ><i class="bx bxs-lock"></i
              ></label>
              <input
                type="password"
                name="reset_password"
                id="reset_password"
                placeholder="Enter new password . . . . "
                class="w-[100%] text-xl bg-gray-100 border-none outline-none h-[40px] pr-5"
                required
              />
            </div>
            <button
              type="submit"
              class="w-[100%] mt-4 px-4 py-2 rounded bg-blue-400 text-white text-xl font-semibold hover:bg-blue-500"
            >
              Reset Now
            </button>
          </form>
          <p class="float-right">
            <span class="font-bold">{{type}} on: </span> {{date_time}}</p>
        </div>
      </div>
    </div>
  </body>
</html>
